.my-bonuses {
    padding: 64px 82px 101px 70px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    @include _1500 {
        padding: 54px 62px 91px 50px;
    }
    @include _1024 {
        padding: 54px 62px 91px 50px;
    }
    &__title {
        text-align: center;
        margin-bottom: 33px;
    }
    &__item {
        position: relative;
        padding: 57px 300px 87px 71px;
        @include _1500 {
            padding: 47px 150px 77px 51px;
        }
        @include _1024 {
            padding: 47px 180px 77px 51px;
        }
        &:not(:last-child) {
            margin-bottom: 84px;
            @include _1500 {
              margin-bottom: 134px;
            }
            @include _1024 {
                margin-bottom: 134px;
              }
        }
        // &:nth-child(1) {
        //     background-image: url(../img/gift.png);
        //     background-repeat: no-repeat;
        //     background-size: auto auto;
        //     // background-position: 95% 50%;
        //     background-position: 100% -40%;
        // }
        // &:nth-child(2) {
        //     background-image: url(../img/watch.png);
        //     background-repeat: no-repeat;
        //     background-size: auto auto;
        //     background-position: 96.5% 50%;
        // }
    }
    &__icon {
        position: absolute;
        background-repeat: no-repeat;
        background-size: auto auto;
        &_1 {
            width: 150px;
            height: 150px;
            top: 22%;
            left: 84%;
            background-image: url(../img/gift.png);
            @include _1500 {
                top: -25%;
                left: 80%;
            }
            @include _1024 {
                top: -25%;
                left: 80%;
            }
        }
        &_2 {
            width: 188px;
            height: 188px;
            top: 15%;
            left: 83%;
            background-image: url(../img/watch.png);
            @include _1500 {
                top: -25%;
                left: 80%;
            }
            @include _1024 {
                top: -25%;
                left: 75%;
            }
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: 36.5px;
        color: $title-color;
        margin-bottom: 7.8px;
        @include _1024 {
            font-size: 24px;
            line-height: 30px; 
        }
    }
    &__amount {
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-left: 5px;
    }
    &__text {
        @include _1024 {
            font-size: 20px;
            line-height: 29px;
        }
    }
    &__button {
        position: absolute;
        // top: 10%;
        // right: 10%;
        // bottom: -12%;
        bottom: -32px;
        padding: 23px 84px;
        background-color: $title-color;
    }
}
.modal-guts__bonuses {
    padding: 62px 40px 55px 40px;
}
.modal-window__bonuses {
    width: 613px;
    max-width: 100%;
    height: 340px;
    max-height: 100%;
    // top: 45%;
    
&-title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36.5px;
    color: $title-color;
    margin-bottom: 31px;
}
// &-list {
// }
&-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:nth-child(1) {
        margin-bottom: 24px;
    }
    &:nth-child(2) {
        margin-bottom: 18px;
    }
}
&-subtitle_left {
   font-size: 30px;
   font-weight: 400;
   line-height: 37px;
   letter-spacing: 0em;
   color: $title-color;
   padding-left: 48.4px;
//    text-align: left;
   background-image: url(../img/gift-small.png);
   background-repeat: no-repeat;
   background-size: auto auto;
   background-position: 0% 0%;
}
&-subtitle_right {
    // font-family: Montserrat;
    font-size: 30px;
    // font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: $title-color;
    // text-align: right;
}
&-left {
    // font-family: Montserrat;
    font-size: 24px;
    // font-style: normal;
    // font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    // text-align: left;
}
&-right {
    // font-family: Montserrat;
    font-size: 24px;
    // font-style: normal;
    // font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    // text-align: right;
}
}
.modal-close__bonuses {
    position: absolute;
    z-index: 100;
    top: 37px;
    right: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}