.cabinet-main__content {
   // zoom: normal!important;
   // height: 1080px;
   // zoom: normal;
   min-height: 133.3vh;
   // min-height: 100%;
   //  min-height: 1080px;
   // height: 100%;
   // height: auto;
   // position: relative;
   // top: 0;
   // left: 0;
   // right: 0;
   // bottom: 0;
    padding: 209px 84px 89px 84px;
    background: -webkit-linear-gradient($main-content-gradient);
    background: -moz-linear-gradient($main-content-gradient);
    background: -o-linear-gradient( $main-content-gradient);
    background: $main-content-gradient;
    @include _1700 {
        padding: 189px 64px 69px 64px;
    }
    @include _1024 {
      //  min-height: 100%;
      // min-height: auto;
      // height: 100%;
      // min-height: 100vh;
       padding: 140px 54px 190px 54px;
    }
    @include _768 {
        padding: 120px 14px 170px 14px;
     }
     @include _375 {
        min-height: auto;
        background: none;
        background-color: $white-color;
        padding: 65px 16px 152px 16px;
     }
}