.cabinet-main {
    // display: -webkit-box; 
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    display: flex;
    // -webkit-flex-direction: column;
    flex-direction: column;
    position:absolute;
    left:280px;
    right:0;
    -webkit-transition: left 1s;
    transition: left 1s;
    @include _1700 {
        left: 240px;
    }
    @include _1024 {
        position: static;
    }
    @include _768 {
        position: static;
    }
    @include _375 {
        position: static;
    }
    &__header {
        // display: -webkit-box; 
        // display: -moz-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        position: fixed;
        top: 0;
        left: 280px;
        right: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        padding: 20px 38px 20px 38px;
        background-color: $header-background-color;
        -webkit-box-shadow: 30px 0px 40px 0px rgba(222, 227, 236, 1); 
        -moz-box-shadow: 30px 0px 40px 0px rgba(222, 227, 236, 1);
        box-shadow: 30px 0px 40px 0px rgba(222, 227, 236, 1);
        -webkit-transition: left 1s;
        transition: left 1s;
        @include _1700 {
            left: 240px;
            padding: 20px 28px 20px 28px;
        }
        @include _1024 {
            left: 0;
            padding: 20px 40px 20px 28px;
        }
        @include _768 {
            left: 0;
            padding: 20px 30px 20px 18px;
        }
        @include _375 {
            left: 0;
            justify-content: space-between;
            padding: 15px 18px 13px 18px;
            -webkit-box-shadow: 19.749998092651367px 0px 26.33333396911621px 0px rgba(222, 227, 236, 1); 
            -moz-box-shadow: 19.749998092651367px 0px 26.33333396911621px 0px rgba(222, 227, 236, 1);
            box-shadow: 19.749998092651367px 0px 26.33333396911621px 0px rgba(222, 227, 236, 1);
        }
    }
}
.owner-data {
    // display: -webkit-box; 
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-right: auto;
    @include _375 {
        margin-right: 0px;
    }
    &__img-wrapper {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 20px;
        @include _1700 {
            margin-right: 10px;
        }
        @include _768 {
            width: 65px;
            height: 65px;
            margin-right: 10px;
        }
        @include _375 {
            width: 53px;
            height: 53px;
            margin-right: 0px;
        }
     }
    &__text-wrapper {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $title-color;
        margin-top: 7px;
        @include _1700 {
            font-size: 16px;
            line-height: 20px;
        }
        @include _1024 {
            font-size: 14px;
            line-height: 18px;
        }
        @include _768 {
            display: none;
        }
        @include _375 {
            display: none;
        }
    }
    &__name {
        margin-bottom: 6px;
    }
}
.cabinet-shop-navigation {
    // display: -webkit-box; 
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-right: 130px;
    @include _1700 {
        margin-right: 75px;
    }
    @include _1024 {
        margin-right: 65px;
    }
    @include _768 {
        margin-right: 70px;
    }
    @include _375 {
        margin-right: 0;
    }
    &__tel {
        display: inline-block;
        font-size: 21px;
        line-height: 25.6px;
        color: $black-color;
        margin-right: 92px;
        @include _1700 {
            font-size: 18px;
            line-height: 21px;
            margin-right: 30px;
        }
        @include _1024 {
            font-size: 16px;
            line-height: 19px;
            margin-right: 30px;
        }
        @include _768 {
            display: none;
        }
        @include _375 {
            display: none;
        }
    }
    &__list {
        // display: -webkit-box; 
        // display: -moz-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
        margin-right: 34px;
        @include _1700 {
            margin-right: 10px;
        }
        @include _375 {
            margin-right: 23px;
        }
        }
    }
    &__link {
        // display: -webkit-box; 
        // display: -moz-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        display: flex;
        align-items: center;
        > svg {
        @include _1024 {
          width: 32px;
          height: 32px;
        }
        @include _768 {
            width: 32px;
            height: 32px;
          }
          @include _375 {
            width: 28px;
            height: 28px;
          }
    }
    }
    &__number-notification {
        position: absolute;
        width: 22px;
        height: 22px;
        // display: -webkit-box; 
        // display: -moz-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        line-height: 10px;
        color: $white-color;
        border-radius: 100%;
        border: 3px solid $white-color;
        background-color: $notification-background-color;
        @include _1024 {
            width: 17px;
            height: 17px;
            font-size: 9px;
            line-height: 9px;
        }
        @include _768 {
            width: 17px;
            height: 17px;
            font-size: 9px;
            line-height: 9px;
        }
        @include _375 {
            width: 13px;
            height: 13px;
            font-size: 7px;
            line-height: 7px;
            border: 2px solid $white-color;
        }
        &_mail {
            top: 12px;
            left: -11px;
            @include _375 {
                top: 14px;
                left: -8px;
            }
        }
        &_like {
            top: 15px;
            left: -4px;
            @include _375 {
                left: -1px;
            }
        }
        &_cart {
            top: -5px;
            left: 30px;
            @include _1024 {
                left: 20px;
            }
            @include _768 {
                left: 20px;
            }
            @include _375 {
                left: 20px;
            }
        }
    }
}
.status-indicator {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    border-radius: 100%;
    background-color: #27FF23;
}
.header-menu__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 39px;
    width: 34px;
    height: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
    &:before {
        content: '';
        top: 0;
    }
    &:after {
        content: '';
        bottom: 0;
    }
    & span {
        top: 50%;
        -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
        transform: scale(1) translate(0px, -50%);
    }
    &.active {
        &:before {
            top: 50%;
            -webkit-transform: rotate(
        -45deg) translate(0px, -50%);
            -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(
        -45deg) translate(0px, -50%);
        }
        & span {
            -webkit-transform: scale(0) translate(0px, -50%);
            -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
        }
        &:after {
            bottom: 50%;
            -webkit-transform: rotate(
        45deg) translate(0px, 50%);
            -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(
        45deg) translate(0px, 50%);
        }
    }
    &_cabinet {
        width: 40px;
        height: 34px;
        right: 38px;
        @include _1700 {
            right: 28px;
        }
        @include _1024 {
            right: 40px;
        }
        @include _768 {
            right: 30px;
        }
        @include _375 {
            position: static;
            width: 26px;
            height: 24px;
            margin-top: 20px;
        }
    }
}
.header-menu__icon:before, .header-menu__icon:after, .header-menu__icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
}
.header-menu__icon_cabinet.header-menu__icon:before, 
.header-menu__icon_cabinet.header-menu__icon:after, 
.header-menu__icon_cabinet.header-menu__icon span {
    height: 2px;
    @include _375 {
        height: 1.3px;
    }
}
.header-menu {
    position: fixed;
    width: 50%;
    top: 95px;
    right: -100%;
    height: 100%;
    -webkit-transition: right 0.4s ease 0s;
    -o-transition: right 0.4s ease 0s;
    transition: right 0.4s ease 0s;
    background: black;
    padding: 80px 15px;
    &_cabinet {
        top: 119px;
        background: #333637;
        @include _768 {
            width: 100%;
            top: 58px;
        }
        @include _375 {
            width: 100%;
            top: 58px;
        }
    }
    &.active {
        right: 0;
    }
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
    }
    &__item {
        margin-bottom: 40px;
        &_cabinet {
            &_tel {
                display: none;
                @include _768 {
                    display: block;
                }
                @include _375 {
                    display: block;
                }
            }
            &_socials-list {
                display: none;
                @include _1024 {
                    display: block;
                }
                @include _768 {
                    display: block;
                }
                @include _375 {
                    display: block;
                }
                & .cabinet-sidebar__socials-list {
                    @include _1024 {
                        display: flex;
                        margin-left: 0px;
                    }
                    @include _768 {
                        display: flex;
                        margin-left: 0px;
                    }
                    @include _375 {
                        display: flex;
                        margin-left: 0px;
                    }
                }
                
            }
        }
    }
    &__link {
        color: $white-color;
    }
}