.cabinet-sidebar {
    position: fixed;
    left:0;
    width: 280px;
    top:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 45px 0px 40px 26px;
    background-image: -webkit-linear-gradient($side-bar-gradient);
    background-image: -moz-linear-gradient($side-bar-gradient);
    background-image: -o-linear-gradient( $side-bar-gradient);
    background-image: $side-bar-gradient;
    -webkit-transition: left 1s; /* Safari */
    transition: left 1s;
      @include _1500 {
        width: 240px;
        padding: 40px 0px 40px 10px;
       }
    //   @include _300 {
    //     width: 65px;
    //     height: 36px;
    //    }

    &__logo-link {
        display: inline-block;
        margin-bottom: 130px;
    }
    &__nav {
        margin-bottom: auto;
    }
    &__item {
        font-size: 22px;
        line-height: 26.8px;
        padding: 26px 0px 23px 23px;
        border-radius: 15px 0 0 15px;
        // &:not(:last-child) {
        //     margin-bottom: 48px;
        // }
        &[aria-selected="true"] {
            
            background-color: $white-color;
            & * {
                color: $active-color;
             & svg * {
                fill: $active-color;
                stroke: $active-color;
            }
        }
    }
}
    &__link {
        display: flex;
        align-items: center;
        color: $black-color;
    }
    &__icon {
        margin-right: 16px;
        @include _1500 {
            margin-right: 8px
        }
    }
    &__socials-list {
        display: flex;
        // align-self: center;
        align-items: center;
        margin-left: 17px;
        // align-self: flex-end;
        // margin-top: auto;
    }
    &__socials-item {
        width: 40px;
        height: 34px;
        &:not(:last-child) {
            margin-right: 35px;
        }
        &:nth-child(1) > .cabinet-sidebar__socials-link {
            background-image: url('../img/Telegram.svg');
        }
        &:nth-child(2) > .cabinet-sidebar__socials-link {
            background-image: url('../img/Whatsup.svg');
        }
        &:nth-child(3) > .cabinet-sidebar__socials-link {
            background-image: url('../img/Instagram.svg');
        }
    }
    &__socials-link {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        // background-size: 100%;
        background-position: 100%;
    }
}
.logo {
    width: 195px;
    height: 30px;
    margin-left: 14px;
    @include _1500 {
        // width: 65px;
        // height: 36px;
        margin-left: 12px;
       }
}
// .is-increase {
//     flex: 0 0 280px;
//     width: 280px;
//   }
//   .is-decrease {
//     flex: 0 0 0px;
//     width: 0px;
//   }