.cabinet-main__content {
    min-height: 100vh;
    // min-height: 1052px;
    padding: 89px 84px;
    background-image: $main-content-gradient;
    @include _1620 {
        padding: 69px 64px;
    }
    @include _1024 {
       padding: 69px 54px;
    }
    @include _768 {
        padding: 59px 14px 69px 14px;
     }
}