.cabinet-main {
    // flex: 1;
    display: flex;
    flex-direction: column;
    position:absolute;
    left:280px;
    right:0;
    -webkit-transition: left 1s; /* Safari */
    transition: left 1s;
    @include _1620 {
        left: 240px;
    }
    @include _1024 {
        position: static;
        // left: 0;
        // right: auto;
    }
    @include _768 {
        position: static;
        // left: 0;
        // right: auto;
    }
    @include _375 {
        position: static;
        // left: 0;
        // right: auto;
    }
    &__header {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 20px 38px 20px 38px;
        background-color: $header-background-color;
        box-shadow: 30px 0px 40px 0px rgba(222, 227, 236, 1);
        @include _1620 {
            padding: 20px 28px 20px 28px;
        }
        @include _1024 {
            // position: absolute;
            // z-index: 5;
            position: fixed;
            right: 0;
            top: 0;
            left: 0;
            z-index: 10;
            padding: 20px 40px 20px 28px;
        }
        @include _768 {
            // position: absolute;
            // z-index: 5;
            position: fixed;
            right: 0;
            top: 0;
            left: 0;
            z-index: 10;
            padding: 20px 30px 20px 18px;
        }
        @include _375 {
            // position: absolute;
            // z-index: 5;
            position: fixed;
            right: 0;
            top: 0;
            left: 0;
            z-index: 10;
            padding: 15px 18px 13px 18px;
            box-shadow: 19.749998092651367px 0px 26.33333396911621px 0px rgba(222, 227, 236, 1);
        }
    }
}
.owner-data {
    display: flex;
    align-items: center;
    margin-right: auto;
    @include _375 {
        margin-right: 62px;
    }
    &__img-wrapper {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 20px;
        @include _1620 {
            margin-right: 10px;
        }
        @include _768 {
            width: 65px;
            height: 65px;
            margin-right: 10px;
        }
        @include _375 {
            width: 53px;
            height: 53px;
            margin-right: 0px;
        }
     }
    &__text-wrapper {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $title-color;
        margin-top: 7px;
        @include _1620 {
            font-size: 16px;
            line-height: 20px;
        }
        @include _1024 {
            font-size: 14px;
            line-height: 18px;
        }
        @include _768 {
            // font-size: 14px;
            // line-height: 18px;
            display: none;
        }
        @include _375 {
            // font-size: 14px;
            // line-height: 18px;
            display: none;
        }
    }
    &__name {
        margin-bottom: 6px;
    }
}
.cabinet-shop-navigation {
    display: flex;
    align-items: center;
    margin-right: 89px;
    @include _1620 {
        margin-right: 35px;
    }
    @include _1024 {
        margin-right: 0;
    }
    @include _768 {
        margin-right: 0;
    }
    @include _375 {
        margin-right: 0;
    }
    &__tel {
        display: inline-block;
        font-size: 21px;
        line-height: 25.6px;
        color: $black-color;
        margin-right: 92px;
        @include _1620 {
            font-size: 18px;
            line-height: 21px;
            margin-right: 30px;
        }
        @include _1024 {
            font-size: 16px;
            line-height: 19px;
            margin-right: 20px;
        }
        @include _768 {
            // font-size: 16px;
            // line-height: 19px;
            // margin-right: 20px;
            display: none;
        }
        @include _375 {
            // font-size: 16px;
            // line-height: 19px;
            // margin-right: 20px;
            display: none;
        }
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
        margin-right: 34px;
        @include _1620 {
            margin-right: 10px;
        }
        @include _375 {
            margin-right: 23px;
        }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        > svg {
        @include _1024 {
          width: 32px;
          height: 32px;
        }
        @include _768 {
            width: 32px;
            height: 32px;
          }
          @include _375 {
            width: 28px;
            height: 28px;
          }
    }
    }
    &__number-notification {
        position: absolute;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        // font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        color: $white-color;
        border-radius: 100%;
        border: 3px solid $white-color;
        background-color: $notification-background-color;
        @include _1024 {
            width: 17px;
            height: 17px;
            font-size: 9px;
            line-height: 9px;
        }
        @include _768 {
            width: 17px;
            height: 17px;
            font-size: 9px;
            line-height: 9px;
        }
        @include _375 {
            width: 13px;
            height: 13px;
            font-size: 7px;
            line-height: 7px;
            border: 2px solid $white-color;
        }
        &_mail {
            top: 12px;
            left: -11px;
            @include _375 {
                top: 14px;
                left: -8px;
            }
        }
        &_like {
            top: 15px;
            left: -4px;
            @include _375 {
                left: -1px;
            }
        }
        &_cart {
            top: -5px;
            left: 30px;
            @include _1024 {
                left: 20px;
            }
            @include _768 {
                left: 20px;
            }
            @include _375 {
                left: 20px;
            }
        }
    }
}
.status-indicator {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    border-radius: 100%;
    background-color: #27FF23;
}
.burger-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    @include _1024 {
        display: none;
    }
    @include _768 {
        display: none;
    }
    @include _375 {
        display: none;
    }
}