.cabinet-main__content {
    min-height: 100vh;
   //  padding: 89px 84px;
    padding: 209px 84px 89px 84px;
    background-image: $main-content-gradient;
    @include _1620 {
      //   padding: 69px 64px;
        padding: 189px 64px 69px 64px;
    }
    @include _1024 {
       padding: 140px 54px 190px 54px;
    }
    @include _768 {
        padding: 120px 14px 170px 14px;
     }
     @include _375 {
        background-image: none;
        background-color: $white-color;
        padding: 65px 16px 152px 16px;
     }
}