.cabinet-sidebar {
    position: fixed;
    left:0;
    width: 280px;
    top:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 45px 0px 40px 26px;
    background-image: -webkit-linear-gradient($side-bar-gradient);
    background-image: -moz-linear-gradient($side-bar-gradient);
    background-image: -o-linear-gradient( $side-bar-gradient);
    background-image: $side-bar-gradient;
    -webkit-transition: left 1s; /* Safari */
    transition: left 1s;
      @include _1620 {
        width: 240px;
        padding: 40px 0px 40px 10px;
       }
      @include _1024 {
          width: 100%;
          min-height: auto;
          top: auto;
          flex-direction: row; 
          position: fixed;
          z-index: 10;
        //   z-index: 10;
        //   justify-content: stretch;       
          padding: 45px 35px 45px 35px;
       }
       @include _768 {
        width: 100%;
        min-height: auto;
        top: auto;
        flex-direction: row; 
        position: static;
      //   z-index: 10;
      //   justify-content: stretch;       
        padding: 35px 25px 35px 25px;
     }
     @include _375 {
        width: 100%;
        min-height: auto;
        top: auto;
        flex-direction: row; 
        position: static;
      //   z-index: 10;
      //   justify-content: stretch;       
        padding: 35px 25px 35px 25px;
     }

    &__logo-link {
        display: inline-block;
        margin-bottom: 130px;
        @include _1024 {
            display: none;
         }
         @include _768 {
            display: none;
         }
         @include _375 {
            display: none;
         }
    }
    &__nav {
        margin-bottom: auto;
        @include _1024 {
            width: 100%;
        }
        @include _768 {
            width: 100%;
        }
        @include _375 {
            width: 100%;
        }
    }
    &__list {
        
        @include _1024 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // width: 100%;
            // display: flex;
            // align-items: stretch;
            // justify-content: stretch;
            // flex: 0 0 34px;
        }
        @include _768 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // width: 100%;
            // display: flex;
            // align-items: stretch;
            // justify-content: stretch;
            // flex: 0 0 34px;
        }
        @include _375 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // width: 100%;
            // display: flex;
            // align-items: stretch;
            // justify-content: stretch;
            // flex: 0 0 34px;
        }
    }
    &__item {
        font-size: 22px;
        line-height: 26.8px;
        padding: 26px 0px 23px 23px;
        border-radius: 15px 0 0 15px;
        // &:not(:last-child) {
        //     margin-bottom: 48px;
        // }
        @include _1024 {
            padding: 0;
            // margin: 0 auto;
        }
        @include _768 {
            padding: 0;
            // margin: 0 auto;
        }
        @include _375 {
            padding: 0;
            // margin: 0 auto;
        }
        &[aria-selected="true"] {
            
            background-color: $white-color;
            @include _1024 {
                background-color: transparent;
            }
            @include _768 {
                background-color: transparent;
            }
            @include _375 {
                background-color: transparent;
            }
            & * {
                color: $active-color;
             & svg * {
                fill: $active-color;
                stroke: $active-color;
            }
        }
    }
}
    &__link {
        display: flex;
        align-items: center;
        color: $black-color;
        &-text {
        @include _1024 {
            display: none;
        }
        @include _768 {
            display: none;
        }  
        @include _375 {
            display: none;
        }  
        }
    }
    &__icon {
        margin-right: 16px;
        @include _1620 {
            margin-right: 8px
        }
        @include _1024 {
            width: 34px;
            height: 34px;
            margin-right: 0;
        }
        @include _768 {
            width: 34px;
            height: 34px;
            margin-right: 0;
        }
        @include _375 {
            width: 34px;
            height: 34px;
            margin-right: 0;
        }
    }
    &__socials-list {
        display: flex;
        // align-self: center;
        align-items: center;
        margin-left: 17px;
        // align-self: flex-end;
        // margin-top: auto;
        @include _1024 {
            display: none;
        }
        @include _768 {
            display: none;
        }
        @include _375 {
            display: none;
        }
    }
    &__socials-item {
        width: 40px;
        height: 34px;
        &:not(:last-child) {
            margin-right: 35px;
        }
        &:nth-child(1) > .cabinet-sidebar__socials-link {
            background-image: url('../img/Telegram.svg');
        }
        &:nth-child(2) > .cabinet-sidebar__socials-link {
            background-image: url('../img/Whatsup.svg');
        }
        &:nth-child(3) > .cabinet-sidebar__socials-link {
            background-image: url('../img/Instagram.svg');
        }
    }
    &__socials-link {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        // background-size: 100%;
        background-position: 100%;
    }
}
.logo {
    width: 195px;
    height: 30px;
    margin-left: 14px;
    @include _1620 {
        // width: 65px;
        // height: 36px;
        margin-left: 12px;
       }
}
// .is-increase {
//     flex: 0 0 280px;
//     width: 280px;
//   }
//   .is-decrease {
//     flex: 0 0 0px;
//     width: 0px;
//   }