.my-events {
    padding: 64px 82px 98px 70px;
    @include _1500 {
        padding: 54px 62px 88px 50px;
    }
    @include _1024 {
        padding: 54px 62px 88px 50px;
    }
    @include _768 {
        padding: 44px 30px 78px 30px;
    }
    &__title {
        font-size: 42px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 33px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 41px 47px 54px 47px;
        @include _1500 {
            padding: 31px 27px 44px 27px;
        }
        @include _1024 {
            padding: 31px 27px 44px 27px;
        }
        @include _768 {
            padding: 21px 17px 34px 17px;
        }
        &_card {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            position: relative;
            padding: 45px 47px 54px 47px;
            @include _1500 {
                padding: 31px 27px 44px 27px;
            }
            @include _1024 {
                padding: 31px 27px 44px 27px;
            }
            @include _1024 {
                padding: 21px 17px 34px 17px;
            }
        }
    }
    &__text {
        max-width: 887px;
        text-align: center;
        // margin: 0 auto;
        margin-bottom: 40px;
        &_card {
            align-self: center;
            // max-width: 1100px;
            text-align: center;
            margin-bottom: 63px;
        }
    }
    &__add-button {
        padding: 24px 100px;
        &_card {
            position: absolute;
            bottom: -28px;
            left: 33.2%;
            // padding: 24px 100px;
            @include _1024 {
                left: 23.2%;
            }
            @include _768 {
                left: 23.2%;
            }
        }
    }
    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        // font-family: Montserrat;
        // font-size: 16px;
        // font-style: normal;
        // font-weight: 400;
        // line-height: 20px;
        // letter-spacing: 0em;
        // text-align: left;
        padding: 22px 48px 22px 62px;
        margin-bottom: 43px;
        border-radius: 40px;
        background-color: #fdfcff;
        box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 10px 0px 20px 0px rgba(177, 164, 212, .15) inset;
        @include _1500 {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            // justify-content: space-between;
            flex-wrap: wrap;
            box-shadow: none;
            // flex: 1;
        }
        @include _1024 {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            // justify-content: space-between;
            flex-wrap: wrap;
            box-shadow: none;
            // flex: 1;
        }
        &-wrapper {
            position: relative;
            @include _1500 {
                // 
                // justify-content: stretch;
                // flex: 1 1 auto;
                // max-width: 300px;
                text-align: center;
                padding: 20px 40px;
                border-radius: 40px;
                box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 10px 0px 20px 0px rgba(177, 164, 212, .15) inset;
            }
            @include _1024 {
                // 
                // justify-content: stretch;
                // flex: 1 1 auto;
                // max-width: 300px;
                text-align: center;
                padding: 20px 40px;
                border-radius: 40px;
                box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 10px 0px 20px 0px rgba(177, 164, 212, .15) inset;
            }
            &:not(:last-child) {
               margin-right: 140px;
               @include _1500 {
                   margin-bottom: 50px;
                   margin-right: 0px;
               }
               @include _1024 {
                margin-bottom: 50px;
                margin-right: 0px;
            }
            }
        }
        &-description {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            // width: 672px;
            flex-wrap: nowrap;
            @include _1500 {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                // justify-content: space-between;
                flex-wrap: wrap;
            }
            @include _1024 {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                // justify-content: space-between;
                flex-wrap: wrap;
            }

        }
        &-key {
            position: absolute;
            top: -55px;
            font-size: 16px;
            line-height: 20px;
            color: $form-grey-color;
            white-space: nowrap;
            @include _1500 {
                width: 126px;
                top: -35px;
               left: 42%;
               text-align: center;
              }
            @include _1024 {
                width: 126px;
                top: -35px;
               left: 40%;
               text-align: center;
              }
        } 
        &-value {
            line-height: 29px;
            // white-space: nowrap;
            // @include _1500 {
            //   font-size: 16px;
            //   line-height: 20px;
            // }
        }  
        &-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        &-action {
            display: flex;
            align-items: center;
            // align-self: center;
            @include _1500 {
                align-self: center;
                margin-top: 20px;
            }
            @include _1024 {
                align-self: center;
                margin-top: 20px;
            }
            &_edit {
              margin-right: 20px;
            }
            // &_delete {

            // }
        }      
    }
}
.modal-guts__events {
    padding: 65px 40px 62px 70px;
    overflow: visible;
    @include _1500 {
        padding: 55px 20px 52px 50px;
    }
    @include _1024 {
        padding: 55px 50px 52px 50px;
        overflow: hidden;
    }
}
.modal-window__events {
    width: 1320px;
    max-width: 100%;
    height: 603px;
    max-height: 100%;
    @include _1024 {
        height: 680px;
        max-height: 100%;
    }
    
    &-title {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        line-height: 36.5px;
        color: $title-color;
        margin-bottom: 31px;
    }
    &-form {
        display: flex;
        // flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        // flex-wrap: wrap;
        @include _1024 {
            flex-direction: column;
            align-items: stretch;
        }
    }
    }
.modal-close__events {
        position: absolute;
        z-index: 100;
        top: 37px;
        right: 40px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
// .events-form
.events-form {
    // &__events-label {
    //     &:last-child {
    //         margin-bottom: 0 !important;
    //     }
    // }
    &__group-left {
        margin-bottom: 20px;
    }
   &__group-right {
    position: relative;
    padding-right: 210px;
    @include _1500 {
        padding-right: 130px;
    }
    @include _1024 {
        position: static;
        align-self: center;
        padding-right: 0;
    }
}
   &__flowers {
    position: absolute;
    top: -12%;
    left: 45.5%;
    width: 590px;
    height: 497px;
    background-image: url(../img/flowers.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    // background-position: 95% 50%;
    @include _1500 {
        left: 40%;
    }
    @include _1024 {
        display: none;
    }
}
  &__button {
    padding: 28px 108px;
  }
}
.events-label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    // align-items: center;
    &:nth-child(1) {
        margin-bottom: 22px;
    }
    &:nth-child(2) {
        margin-bottom: 20px;
    }
    &:nth-child(3) {
        margin-bottom: 30px;
    }
    &:last-child {
        margin-bottom: 0;
    }
  &__choose {
      flex-direction: row;
      align-items: center;
      position: relative;
      margin-bottom: 36px;
    //   cursor: pointer;
    &-row {
        display: inline-block;
        padding-left: 78px;
        margin-top: 8px;
        text-align: center;
        // color: $bluesh-gray-color;
        transition: all .4s ease-in-out;
        &::before {
           content: "";
           position: absolute;
           left: -1%;
           top: 45%;
           transform: translateY(-50%);
           width: 50px;
           height: 49px;
           border: 1px solid;
           border-image-source: linear-gradient(119deg, #FFFFFF 32.05%, rgba(212, 215, 219, 0.16) 67.71%);
           border-radius: 100%;
        //    opacity: 0;
           box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 10px 10px 20px 0px rgba(177, 164, 212, .35);
           transition: all .4s ease-in-out;
       }
        &::after {
            content: '';
            position: absolute;
            left: 19px;
            top: 6.5px;
            min-width: 8.6px;
            height: 20px;
            border: solid $active-color;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity .4s ease-in-out, border-color .4s ease-in-out;
        }
    }
    & input:checked+.events-label__choose-row::after {
        opacity: 1;
    }
}
  &__row {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $form-grey-color;
    margin-left: 30px;
    margin-bottom: 8px;
  }
  &__input {
      max-width: 445px;
      padding: 18px 34px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      border: 1px solid transparent;
      @include _1024 {
          max-width: 100%;
      }
    &::placeholder {
      font-size: 20px;
    //   font-weight: 400;
      line-height: 24px;
      color: $form-grey-color;
    }
  }
}
.ui-datepicker {
    // padding: 20px;
    border-radius: 25px;
    background-color: $main-content-background-color;
    box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 10px 10px 20px 0px rgba(177, 164, 212, .35);
}
.ui-datepicker-header {
    padding: 20px 20px 10px 20px;
}
.ui-datepicker-calendar {
    width: 100%;
    // margin: 0;
    padding: 20px 10px 20px 20px;
}
.ui-datepicker-prev {
    display: inline-block;
    // display: flex;
    width: 40px;
    height: 40px;
    // align-items: center;
    text-align: center;
    border-radius: 100%;
    background-color: $main-content-background-color;
    box-shadow: -10px -10px 10px 0px rgba(175, 146, 146, 0.15), 10px 10px 20px 0px rgba(177, 164, 212, .35);
    background-image: url(../img/left.svg);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    margin-right: 200px;
    margin-bottom: 10px;
}
.ui-datepicker-next {
    display: inline-block;
    // display: flex;
    width: 40px;
    height: 40px;
    // align-items: center;
    text-align: center;
    border-radius: 100%;
    background-color: $main-content-background-color;
   box-shadow: -10px -10px 10px 0px rgba(175, 146, 146, 0.15), 10px 10px 20px 0px rgba(177, 164, 212, .35);
   background-image: url(../img/right.svg);
   background-repeat: no-repeat;
   background-size: auto auto;
   background-position: center center;
   margin-bottom: 10px; 
}