.my-orders {
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // justify-content: center;
    padding: 64px 76px 70px 76px;
    @include _1500 {
        padding: 54px 56px 60px 56px;
    }
&__title {
    text-align: center;
    margin-bottom: 33px;
}
&__text {
    max-width: 670px;
    text-align: center;
    margin-bottom: 40px;
}
&__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 41px 30px 54px 30px;
    @include _1500 {
        padding: 31px 20px 44px 20px;
    }
}
&__add-order {
    padding: 24px 115px;
}
&__item {
    &:not(:last-child) {
    margin-bottom: 52px;
    @include _1500 {
        margin-bottom: 42px;
    }
    }
}

}
.order-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 48px 58px 51px 39.6px;
    @include _1500 {
        padding: 38px 38px 41px 19.6px;
    }
    &[aria-selected="true"] * .order-head__action-icon > svg {
      transform: rotate(180deg);
    }
    &[aria-selected="true"] * .order-head__action-more_more {
        display: none;
      }
    &[aria-selected="true"] * .order-head__action-more_roll {
        display: block;
      }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img-wrapper {
        display: inline-block;
        position: relative;
        min-width: 93px;
        height: 93px;
        overflow: hidden;
        // margin-bottom: 67px;
        border-radius: 50%;
        // border: 2px solid $active-color;
        // box-shadow: 0 0 0 2px $active-color,
        margin-right: 34px;
        @include _1500 {
            min-width: 73px;
            height: 73px;
            margin-right: 20px;
        }
     }
     &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        min-width: 100%;
        min-height: 100%;
        vertical-align: middle;
        object-fit: cover;
        border-radius: 100%;
     }
     &__number {
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        color: $title-color;
        margin-bottom: 7.8px;
        @include _1500 {
            font-size: 20px;
            line-height: 24px;
        }
     }
     &__price {
        white-space: nowrap;
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: 0.05em;
        color: $title-color;
        text-align: right;
        margin-bottom: 7.8px;
        @include _1500 {
            font-size: 20px;
            line-height: 24px;
        }
     }
     &__amount-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        @include _1500 {
            font-size: 20px;
            line-height: 24px;
        }
     }
     &__amount {
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.05em;
        text-align: right;
        @include _1500 {
            font-size: 20px;
            line-height: 24px;
        }
     }
     &__key {
         margin-right: 140px;
         @include _1500 {
             margin-right: 20px;
         }
     }
     &__action {
         display: flex;
         align-items: center;
         @include _1500 {
             flex-direction: column;
             align-items: flex-end;
         }
     }
     &__action-more {
        font-size: 24px;
        font-weight: 600;
        line-height: 38px;
        color: $active-color;
        margin-right: 27px;
        @include _1500 {
            font-size: 16px;
            line-height: 20px;
            margin-right: 0;
        }
        &_roll {
            display: none;
        }
     }
     &__action-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68px;
        height: 68px;
        background-color: $file-icon-background-color;
        border-radius: 150px;
        border: 1px solid;
        border-image-source: linear-gradient(119deg, #FFFFFF 32.05%, rgba(212, 215, 219, 0.16) 67.71%);
        box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 10px 10px 20px 0px rgba(177, 164, 212, .35);
        @include _1500 {
            width: 58px;
            height: 58px;
        }
        & > svg {
            margin-top: 4px;
        }
     }

}
.order-body {
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // align-items: center;
    flex-wrap: wrap;
    @include _1500 {
        padding: 60px 0px;
    }
    
    // &__wrapper {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: flex-start;
    // }
   
    &__img-key-wrapper {
        display: flex;
        align-items: flex-start;
    }
    &__list {
        padding: 47.6px 40px;
        box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 0px 10px 20px 0px rgba(177, 164, 212, .15);
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
    &__key {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        margin-top: 8px;
        margin-right: 2px;
    }
    &__value {
        margin-top: 4px;
    }
    &__bill {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 34px 40px 47px 41.5px;
        &-key {
            margin-top: 4px;
            @include _1500 {
                font-size: 20px;
                line-height: 24px;
            }
            &_delivery {
              margin-bottom: 10.5px;
            }
            &_discount {
                margin-bottom: 9.6px;
            }
            &_total {
                font-weight: 600;
            }
        }
        // &-value {
            
        // }
        &-value_price {
            font-size: 30px;
            font-weight: 700;
            line-height: 37px;
            letter-spacing: 0.05em;
            text-align: right;
            color: $title-color;
            @include _1500 {
                font-size: 24px;
                line-height: 30px;
            }
            &:not(:last-child) {
                margin-bottom: 11px;
            }
            // &:nth-child(1) {
            //     margin-bottom: 10.6px;
            // }
        }
    }
    &__block-wrapper {
        // flex: 1 1 auto;
        // width: 50%;
        width: 613px;
        // margin-right: 30px;
        margin-bottom: 70px;
        @include _1024 {
            flex: 1 1 auto;
            margin-bottom: 60px;
        }
    }
    &__main-info {
        // margin-right: 94px;
        // align-self: center;
        justify-self: center;
        margin-right: 20px;
            @include _1024 {
                margin-right: 0;
            }
    }
    &__delivery {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 57px 32px 57px 32px;
        background: linear-gradient(128.73deg, #fff7fc 0%, #ffdeee 49.71%, #e1bef6 100%);
        &-title {
            font-size: 30px;
            font-weight: 700;
            line-height: 37px;
            text-align: center;
            color: $title-color;
            margin-bottom: 26px;
            @include _1500 {
                font-size: 24px;
                line-height: 30px;
            }
        }
        &-date {
            // width: 445px;
            padding: 11px 162px;
            // text-align: center;
            border-radius: 55px;
            background-color: $main-content-background-color;
            margin-bottom: 54px;
            @include _1500 {
              font-size: 20px;
              line-height: 30px;
            }
        }
        &-time {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 64px;
            font-weight: 500;
            line-height: 78px;
            margin-left: 16px;
            margin-bottom: 3px;
            @include _1500 {
                font-size: 54px;
                line-height: 68px;
            }
            &_breake {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
        &-from-to {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            margin-left: 10px;
            margin-bottom: 28.5px;
            @include _1500 {
                font-size: 20px;
                line-height: 24px;
            }
        }
        &-from {
            margin-right: 219px;
        }
        &-img {
            width: 170px;
            height: 119.5px;
            background-image: url(../img/delivery.png);
            background-repeat: no-repeat;
            background-size: auto auto;
            // background-position: 95% 50%;
        }
    }
    &__status { 
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 1;
        // flex: 1;
        // align-self: center;
        margin: 0 auto;
        padding: 83px 115px 70px 113px;
        @include _1500 {
            padding: 73px 95px 60px 95px;
        }
       &-title {
        text-align: center;
        margin-bottom: 17px;
    }
    &-list {
        display: flex;
        align-items: flex-start;
        // justify-content: space-between;
        flex-wrap: wrap;
    }
    &-item {
        // width: 197px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include _1500 {
            margin-bottom: 20px;
        }
        &:not(:last-child) {
            // margin-right: 5.2vw;
            margin-right: 85px;
        }
    }
       &-icon {
           position: relative;
           width: 197px;
           height: 194px;
           border-radius: 150px;
           border: 5px solid;
           border-image-source: linear-gradient(119deg, #FFFFFF 32.05%, rgba(212, 215, 219, 0.16) 67.71%);
           box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, .15), 10px 10px 20px 0px rgba(177, 164, 212, .15);
           background-repeat: no-repeat;
        //    background-size: auto auto;
        //    background-position: center center;
      
           margin-bottom: 20px;
           &::after {
            content: "";
            position: absolute;
            left: 105%;
            top: 48%;
            transform: translateY(-50%);
            // width: 5.2vw;
            width: 85px;
            // height: 32px;
            border-top: 5px dotted $active-color;
            // border-radius: 100%;
            // opacity: 0;
            // transition: all .4s ease-in-out;
        }
           &_1 {
            background-position: 55% 50%;
            background-image: url(../img/money-bag.png);
           }
           &_2 {
            background-position: 45% 50%;
            background-image: url(../img/flower.png);  
           }
           &_3 {
            background-position: 40% 50%;
            background-image: url(../img/route.png);  
           }
           &_4 {
            background-position: 55% 50%;
            background-image: url(../img/delivered.png);
            margin-bottom: 15px;
            &::before {
                content: "";
                position: absolute;
                z-index: 5;
                left: -50%;
                top: 48%;
                transform: translateY(-50%);
                // width: 100px;
                width: 85px;
                border-top: 5px dotted $active-color;
            }
            &::after {
                display: none;
            } 
           }
       }
       &-name {
           font-size: 24px;
           line-height: 29px;
           text-align: center;
        //    margin-left: 5px;
        @include _1500 {
            font-size: 20px;
            line-height: 24px;
        }
           &_delivered {
            font-weight: 700;
            line-height: 38px;
            color: $active-color;
           }
       }
    }
}
.inactive {
    filter: grayscale(100%);
    color: $inactive-color;
}
.ui-accordion-header-icon {
    display: none;
}