.profile {
    position: relative;
    padding: 55px 84px 81px 72px;
    &__title {
        margin-left: 41px;
        margin-bottom: 25px;
    }
}
.profile-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__group {
        &:not(:nth-child(3)) {
            margin-right: 20px;
        }
    }
   
    // &__left-column {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }
    &__central-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__right-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__button {
        position: absolute;
        white-space: nowrap;
        top: 94.5%;
        right: 5.5%;
        // left: 64.5%;
        padding: 24px 76px; 
    }
}
.profile-label {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:not(:last-child) {
       margin-bottom: 24px;
    }
    &__img-wrapper {
        display: inline-block;
        position: relative;
        width: 288px;
        height: 288px;
        overflow: hidden;
        margin-bottom: 67px;
        border-radius: 50%;
        // border: 2px solid $active-color;
        box-shadow: 0 0 0 2px $active-color,
     }
     &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        min-width: 100%;
        min-height: 100%;
        vertical-align: middle;
        object-fit: cover;
        border-radius: 100%;
     }
    &_file {
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
    }
    &__row {
        font-size: 16px;
        line-height: 19.5px;
        margin-left: 25px;
        margin-bottom: 9px;
        color: $form-grey-color;
    }
    &__input {
        width: 445px;
        padding: 18px 32px;
        font-size: 20px;
        line-height: 24.4px;
        border: 1px solid transparent;
       &::placeholder {
           font-size: 20px;
           line-height: 24.4px;
           color: $form-grey-color;
       }
        &_file {
            position: absolute;
            width: 1px;
            height: 1px;
            opacity: 0;
        }
    }
    &__file-icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 66%;
        border-radius: 100%;
        background-color: $file-icon-background-color;
        box-shadow: -10px -10px 10px 0px #ffffff26, 10px 10px 20px 0px #b1a4d459;

    }
}